{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{category }}</h2>

    <ul class="list-group">
        {% for listing in listings %}
            <li class="list-group-item">    
                <h1><a href="{% url 'details' listing.id %}">Listing: {{ listing.title }}</a></h1>
                {% if listing.image %}
                    <img src="{{ listing.image }}" alt="{{ listing.title }}" width="720">
                {% endif %}
                <h3>{{ listing.description }}</h3>
                <h3>Price: {{ listing.price }}</h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}