{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul class="list-group">
        {% for listing in listings %}
            {% if listing.active %}
            <li class="list-group-item" style="background-image: radial-gradient(circle at center ,rgb(224 242 254), rgb(254 242 242)); border: none;">    
                <h1><a href="{% url 'details' listing.id %}">Listing: {{ listing.title }}</a></h1>
                {% if listing.image %}
                    <img src="{{ listing.image }}" alt="{{ listing.title }}" width="720">
                {% endif %}
                <h3>{{ listing.description }}</h3>
                <h3>Price: {{ listing.price }}</h3>

            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}