{% extends 'auctions/layout.html' %}

{% block body %}
    <form action = "", method="post";>
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" class="form-control">
        <textarea name="description" placeholder="Description" class="form-control" maxlength="10000"></textarea>
        <input type="number" name="price" placeholder="Starting Bid" class="form-control">
        <input type="text" name="category" placeholder="Category" class="form-control">
        <input type="url" name="image" placeholder="Image URL" class="form-control">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
{% endblock %}